{% extends "base.html" %} {% load static i18n %} {% block title %}{{ object.name
}} | Tok! CS{% endblock %} {% block content %}
<div class="d-flex justify-content-center">
  <div
    class="card shadow-sm"
    style="width: 100%; max-width: 600px; margin-top: 2rem"
  >
    <div class="card-header bg-primary text-white">
      <h4 class="mb-0">{{ object.name }}님의 프로필</h4>
    </div>
    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-4">이메일</dt>
        <dd class="col-sm-8">{{ object.email }}</dd>

        <dt class="col-sm-4">가입일</dt>
        <dd class="col-sm-8">{{ object.date_joined|date:"Y-m-d H:i" }}</dd>

        {% if object.last_login %}
        <dt class="col-sm-4">마지막 로그인</dt>
        <dd class="col-sm-8">{{ object.last_login|date:"Y-m-d H:i" }}</dd>
        {% endif %}
      </dl>

      {% if object == request.user %}
      <div class="mt-4 d-flex flex-wrap gap-2">
        <a href="{% url 'users:update' %}" class="btn btn-primary"
          >내 정보 수정</a
        >
        <a href="{% url 'account_email' %}" class="btn btn-outline-secondary"
          >이메일 관리</a
        >
        <a href="{% url 'mfa_index' %}" class="btn btn-outline-secondary"
          >MFA 설정</a
        >
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
